DB_URL=postgresql+psycopg2://postgres:123@localhost:5432/tmdt

TEST_MODE=true
#Cho mật khẩu vào đây
AGENT_API_KEY= 
# Mailtrap SMTP Settings (Mock credentials for local testing)
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM_EMAIL=noreply@tmdt.com

# VNPay Settings (Test)
VNPAY_TMN_CODE=
VNPAY_HASH_SECRET=
VNPAY_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNPAY_RETURN_URL=http://localhost:8000/api/v1/vnpay/return
VNPAY_IPN_URL=http://localhost:8000/api/v1/vnpay/ipn
