DB_URL=postgresql+psycopg2://postgres:123@localhost:5432/tmdt

# Mailtrap SMTP Settings (Mock credentials for local testing)
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM_EMAIL=noreply@tmdt.com
